h1 {
    /*font-family: roboto ;*/
    color: brown;
    text-shadow: 2px 2px 5px yellow 2px 2px 5px red;
}
 h1 {
    text-align: center;
 
}
.container {
    border: 5px solid rgb(10, 241, 37);
    margin: 5px;
    padding: 5px;
    width: 300px;
    box-sizing: doted-border-box;
}
div {
    width: 100px;
    height: 100px;
}
.simple-linear {
    background: linear-gradient(blue,pink);
}