body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("https://www.tripsavvy.com/thmb/t9BX1RE2ReKZkWNNI1ayTLbdtQI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-618007380-4c7dfdc497b345b8a5909b784c5bea62.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    background: rgba(255, 255, 255,0.1);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   /* backdrop-filter: blur(10px);*/
    border: 1px solid rgba9(255, 255, 255, 0.3);
    color: white;
    text-align: center;
}
.glass-card h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;

}
.glass-card button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    background: rgba(255, 255, 255,0.2);
    transition: background 0.3s ease-in-out;
}
.glass-card button:hover {
    background: rgba(255, 255, 255,0.3);
}