* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    background-color: #eeeff1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;


    .navbarHeading{
        color: #1a1c20;
        font-size: 22px;
        font-weight: 600;
        text-decoration: none;
    }

    .iconSectionsContainer {
        a {
            margin: 0px 10px;
            text-decoration: none;
            color: #1a1c20;

            span {
                margin-left: 5px;
            }
        }
    }

    .emailBtn {
        color: white;
        background-color: grey;
        padding: 5px 15px;
        border-radius: 5px;
    }
}


.intro-section {
    display: flex;
    margin: 50px 0px 100px 0px;
    align-items: center;
    gap: 40px;
    padding: 0px 50px;
    
    
    .intro-section-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 45px;
        }
        .links {
            margin-top: 25px;

            a {
                display: inline-block;
                padding: 5px 10px;
                border: 2px solid #4a76ee;
                border-radius: 5px;
                margin-right: 10px;
                margin-bottom: 10px;
                transition: 0.1s;
                text-decoration: none;
                color: #4a76ee;
            }
        }
    }

    .profile-image {
          img {
            width: 350px;
            border-radius: 50%;
          }
    }
}





.testimoneySection {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0px 50px;


h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
.testimoneyContainer {
    display: flex;
    gap: 50px;
    align-items: center;

    .testimoneyImageContainer {
        img {
            width: 200px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 10px;
        }
    }
}

.testimoneytextContainer {
    flex: 1;
    
}
}


