* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Roboto", sans-serif;
}

.header {
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;

    .navbar {
        display: flex;
        align-items: center;
        padding: 25px;
        justify-content: flex-end;
        gap: 20px;
           }

    .headercontent {
        margin-top: 70px;
    display: flex;
    align-items: center;

    .headercontentitem {
        flex: 1;
        h1 {
            font-size: 50px;
            line-height: 60px;
            margin: 25px 0px;
        }
        p {
            color: #555;
        }
        img {
            width: 300px;
            padding: 50px 0px;
    }
    }
    }
}
.categories {
    margin: 70px 0px;

    .container {
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            flex-basis: 30%;
            min-width: 250px;
        }
    }
}
.featured-product {
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;

    h2 {
        color: #555;
        line-height: 60px;
        
        text-align: center;
    }
    .customunderlinecontainer {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        .customunderline {
            width: 80px;
            height: 5px;
            background-color: #ff523b;
            border-radius: 5%;
        }
    }
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .product-cart {
            display: flex;
            flex-direction: column;
            min-width: 100px;
            padding: 10px;
            margin-bottom: 50px;
            flex-basis: 20%;
            margin-bottom: 50px;
            cursor: pointer;
            transition: transform 0.2s;
            .product-title {
                color: #555;
            }
            .product-pricing {
                color: #555;
                font-size: 14px;
            }
        }
        .product-cart:hover {
            transform: translateY(-5px);
        }

        }
    }
    .smart-watch-banner {
        margin-top: 80px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 30px.0p;

        .container {
            display: flex;
            flex-wrap: wrap;
            max-width: 1080px;
            margin: auto;
            padding: 0px 25px;
            justify-content: space-around;
            align-items: center;

            .smart-watch-img-container {
                flex: 1;
                padding: 50px;
                img {
                    width: 100%;
                }

            }
            .smart-watch-img-content {
                flex: 1;

                .smart-watch-banner-title {
                    color: #555;
                }
                .smart-watch-banner-Subtitile {
                    font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                }
                .smart-watch-banner-description {
                    color: #555;
                    font-size: 14px;
                }
                }
                           }
            }

        
        .buynowbutton {
                    background-color: #ff523b;
                    color: #fff;
                    margin: 30px 0px;
                    padding: 8px 30px;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                }
                .buynowbutton:hover {
                    background-color: #563434;
                }
    
              .testimonialParentContainer {
                padding-top: 100px;

            .testimonialInnerContainer {
                max-width: 1080px;
                margin: auto;
                padding: 0px 25px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;

                .testimonialCards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    cursor: pointer;
                    padding: 40px 20px 40px;
                    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                    transition: transform 0.5s;
                    min-width: 250px;
                    margin-bottom: 30px;
                    flex-basis: calc(30% -50px);

                    .testimonialContent {
                        font-size: 12px;
                        margin: 12px 0px;
                        color: #777;
                    }
                    .ratings {
                        padding-top: 20px;
                        display: flex;
                        align-items: center;
                        gap: 4px;

                    }
                    .userImage {
                        width: 50px;
                        margin-top: 20px;
                        border-radius: 60%;
                    }
                    h3 {
                        font-weight: 600;
                        color: #555;
                        font-size: 16px;
                    }
                }
                .testimonialCards:hover {
                    transform: translateY(-10px);
                }
                }
              }  
              .brandingContainer {
                margin: 100px auto;

                .brandingInnerContainer {
                    display: flex;
                    justify-content: space-around;
                    max-width: 1080px;
                    padding: 0px 25px;
                    margin: auto;

                    img {
                        cursor: pointer;
                        filter: grayscale(100%);
                    }
                    img:hover {
                        filter: grayscale(0%);
                    }
                }
            }
              .logo {
                width: 100px;
                height: 100px;
              }
              .footer {
                background: #222831;
                color: #eeeeee;
                font-size: 14px;
                padding: 60px 0 20px;
                margin-bottom: 300px;

            .footerInnerContainer {
                display: flex;
                align-items: center;
                justify-content: space-around;
                max-width: 1300px;
                margin: auto;
                padding: 0px 25px;

             .footerColumn {
                min-width: 250px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
             }   
             .footerColumn1 {
                flex-basis: 30%;
                h3 {
                   color: #ff523b;
                   margin-bottom: 20px;
                   font-weight: 500px; 
                }
                p {
                    color: #eeeeee;
                }
               .footerStoreContainer {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 20px;

                .app {
                    width: 100px;
                    height: 100px;
                }
               } 
             }
            }

                }
              