* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Roboto", sans-serif;
}

.header {
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;

    .navbar {
        display: flex;
        align-items: center;
        padding: 25px;
        justify-content: flex-end;
        gap: 20px;
           }

    .headercontent {
        margin-top: 70px;
    display: flex;
    align-items: center;

    .headercontentitem {
        flex: 1;
        h1 {
            font-size: 50px;
            line-height: 60px;
            margin: 25px 0px;
        }
        p {
            color: #555;
        }
        img {
            width: 300px;
            padding: 50px 0px;
    }
    }
    }
}
.categories {
    margin: 70px 0px;

    .container {
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            flex-basis: 30%;
            min-width: 250px;
        }
    }
}
.featured-product {
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;

    h2 {
        color: #555;
        line-height: 60px;
        
        text-align: center;
    }
    .customunderlinecontainer {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        .customunderline {
            width: 80px;
            height: 5px;
            background-color: #ff523b;
            border-radius: 5%;
        }
    }
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .product-cart {
            display: flex;
            flex-direction: column;
            min-width: 100px;
            padding: 10px;
            margin-bottom: 50px;
            flex-basis: 20%;
            margin-bottom: 50px;
            cursor: pointer;
            transition: transform 0.2s;
            .product-title {
                color: #555;
            }
            .product-pricing {
                color: #555;
                font-size: 14px;
            }
        }
        .product-cart:hover {
            transform: translateY(-5px);
        }

        }
    }
    .smart-watch-banner {
        margin-top: 80px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 30px.0p;

        .container {
            display: flex;
            flex-wrap: wrap;
            max-width: 1080px;
            margin: auto;
            padding: 0px 25px;
            justify-content: space-around;
            align-items: center;

            .smart-watch-img-container {
                flex: 1;
                padding: 50px;
                img {
                    width: 100%;
                }

            }
            .smart-watch-img-content {
                flex: 1;

                .smart-watch-banner-title {
                    color: #555;
                }
                .smart-watch-banner-Subtitile {
                    font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                }
                .smart-watch-banner-description {
                    color: #555;
                    font-size: 14px;
                }
                }
                           }
            }

        
        .buynowbutton {
                    background-color: #ff523b;
                    color: #fff;
                    margin: 30px 0px;
                    padding: 8px 30px;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                }
                .buynowbutton:hover {
                    background-color: #563434;
                }
    


